# Environment files
.env
.env.*
!.env.example

# Secret files
.secrets/
.key
keystore/
*.key
*.pem
**/id_rsa*
**/*.crt
**/*.p12
**/*.pfx

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Coverage
.coverage
coverage.xml
htmlcov/

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db 