# Environment variables
.env
.env.*
!.env.example

# Secrets
.secrets/
.key
keystore
**/id_rsa*
**/*.pem
**/*.key

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.coverage
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/ 